#div-area div.col-sm {
	background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
    height: 60px;
    text-align: center;
}

#div-paleta div.col-sm {
    border: 1px solid rgba(86,61,124,.2);
    height: 60px;
    text-align: center;
}

#trash {
    border: 1px solid red;
    height: 60px;
    text-align: center;
}